*{
    margin: 0;
    padding: 0;
}

header{
    width: 90%;
    font-size:3rem;
    font-weight:700;
    padding-top: 3rem;
}
img {
    width: 95%;
    padding-top: 2rem; 
}
 div p{
width: 100%;
font-size: 21px;
padding-top: 2px;
}
.T-SETOR{  
  padding: 0 0 1REM 0REM;
  font-size: 25px;
  font-weight: 700;
}
.pçs{
    width: 90%;
    padding-bottom:1rem;
}
