*{
    margin: 0;
    padding: 0;
}
.T-BORDE{
    border: solid 4px #0C70F2;;
    width: 100%;
}
header{
    width: 90%;
    font-size:2rem;
    font-weight:700;
    padding-left: 1.5rem;
}
img {
    width: 95%; 
}
div p{
width: 100%;
font-size: 25px;
}
.T-SETOR{  
  padding: 0 0 1REM 0REM;
  font-size: 25px;
  font-weight: 700;
}
.pçs{
    width: 50%;
    padding-bottom:1rem;
}
 