*{
    margin: 0;
    padding: 0;
}
.T-BORDE{
    border: solid 8px #0C70F2;;
}
header{
    font-size:2rem;
    font-weight:700 ;
}
img {
    width: 95%; 
}
div p{
width: 100%;
font-size: 25px;
}
.T-SETOR{  
  padding: 0 0 1REM 1REM;
  font-size: 25px;
  font-weight: 700;
}
.pçs{
    width: 80%;
    padding-bottom:1rem;
}
 