*{
    margin: 0;
    padding: 0;
}
.T-BORDE{
    border: solid 4px #0C70F2;;
    width: 100%;
}
img {
    width: 95%; 
}
div p{
width: 100%;
font-size: 25px;
}
.T-MODELO{  
  padding: 0 0 0 3REM;
  font-size: 35px;
  font-weight: 700;
}
.pçs{
    width: 80%;
    padding-bottom:1rem;
}
 